/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    font-family: 'Open Sans', sans-serif;
}

label {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
}

.background {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastro {
    display: flex;
    flex: 0;
    flex-direction: column;
    background: #465095;
    padding: 40px;
    border-radius: 20px;
}

.cadastro h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.formulario {
    display: flex;
    flex-direction: column;
}

.formulario input {
    padding: 7px 20px;
    border-radius: 20px;
    border: none;
}

.formulario input:last-of-type {
    font-size: 15px;
    font-weight: bold;
    color: #465095;
    background: #FFFF00;
    margin-top: 40px;
    cursor: pointer;
}

.login {
    display: block;
    margin-top: 20px;
    font-size: 14px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.cadastro {
    display: block;
    margin-top: 20px;
    font-size: 14px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

